h1 {
  font-family: 'Cormorant Garamond', serif;
  flex-grow: 1;
  font-size: 50px;
  text-align: center;
  margin: 0;
  color: #6e5a48;
  font-weight: 600;
  letter-spacing: 0.5px;
}



h2 {
  font-family: 'Cormorant Garamond', serif;
  font-size: 40px;
  text-align: center;
  color: #6e5a48;
  margin-bottom: 30px;
  font-weight: 400;
}



button {
  background-color: #44362bbd;
  color: #fff;
  border: none;
  padding: 2px 18px;
  border-radius: 2px;
  font-family: 'Cormorant Garamond', serif;
  font-size: 19px;
  font-weight: bold;
  cursor: pointer;
  display: block;
  margin: 40px auto 0 auto;
  transition: background-color 0.3s ease;
}



button:hover {
  background-color: #5a473a;
}



.font-cormorant {
  font-family: 'Cormorant Garamond', serif;
}